<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is provided with Magento in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * See DISCLAIMER.md for disclaimer details.
 */
 -->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <img data-bind="attr: {src: getImage()}" class="payment-icon multisafepay-payment-icon" />
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko if: (isPaymentComponentEnabled())-->
        <div class="multisafepay-payment-component" data-bind="attr: {'id': getPaymentComponentId()}, afterRender: PreRenderPaymentComponent()"></div>
        <!--/ko-->

        <!-- ko if: isDirect() -->
        <div class="payment-method-afterpay" style="margin: 0 0 20px;">
            <fieldset class="fieldset">
                <div class="field required">
                    <label class="label" for="afterpay-date-of-birth">
                        <span>
                            <!-- ko i18n: 'Date of Birth'-->
                            <!-- /ko -->
                        </span>
                    </label>
                    <div class="control">
                        <input name="afterpay-date-of-birth"
                               id="afterpay-date-of-birth"
                               data-bind="value: dateOfBirth, attr:{title: $t('Date of Birth')}"
                               class="input-date"
                               type="date"
                               required="true"/>
                    </div>
                </div>

                <div class="field required">
                    <label class="label" for="afterpay-gender">
                            <span>
                                <!-- ko i18n: 'Gender'-->
                                <!-- /ko -->
                            </span>
                    </label>
                    <div class="payment-method-gender" style="margin: 0 0 20px;">
                        <select name="afterpay-gender" id="afterpay-gender" data-bind="
                        enable: true,
                        options: getGenders(),
                        optionsValue: 'code',
                        optionsText: 'label',
                        optionsCaption: $t('Choose your gender...'),
                        attr:{title: $t('Gender')},
                        value: genderId">
                        </select>
                    </div>
                </div>

                <div class="field required">
                    <label class="label" for="afterpay-telephone">
                        <span>
                            <!-- ko i18n: 'Phone Number'-->
                            <!-- /ko -->
                        </span>
                    </label>
                    <div class="control">
                        <input name="afterpay-telephone"
                               id="afterpay-telephone"
                               title="Telephone"
                               data-bind="value: phoneNumber, attr:{title: $t('Phone Number')}"
                               class="input-text"
                               type="tel"
                               required="true"/>
                    </div>
                </div>

                <div class="field choice required">
                    <input type="checkbox"
                           name="afterpay-terms"
                           id="afterpay-terms"
                           class="checkbox"
                           data-bind="checked: afterpayTerms"
                           required="true"/>
                    <label class="label" for="afterpay-terms">
                        <span>
                            <a data-bind="attr: { href: getAfterpayTermsUrl() }" target="_blank">
                            <!-- ko i18n: 'I have read and agree to the Afterpay payment terms'-->
                            <!-- /ko -->
                            </a>
                        </span>
                    </label>
                </div>
            </fieldset>
        </div>
        <!--/ko-->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
