<!--
/**
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is provided with Magento in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * Copyright © 2021 MultiSafepay, Inc. All rights reserved.
 * See DISCLAIMER.md for disclaimer details.
 *
 */
 -->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <img data-bind="attr: {src: getImage()}" class="payment-icon" />
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko if: isDirect() -->
        <div class="payment-method-in3" style="margin: 0 0 20px;">
            <fieldset class="fieldset">
                <div class="field required">
                    <label class="label" for="in3-date-of-birth">
                        <span>
                            <!-- ko i18n: 'Date of Birth'-->
                            <!-- /ko -->
                        </span>
                    </label>
                    <div class="control">
                        <input name="in3-date-of-birth"
                               placeholder="dd-mm-yyyy"
                               id="in3-date-of-birth"
                               title="Date of Birth"
                               data-bind="value: dateOfBirth"
                               class="input-text"
                               type="text"
                               required="true"/>
                    </div>
                </div>

                <div class="field required">
                    <label class="label" for="in3-gender">
                            <span>
                                <!-- ko i18n: 'Gender'-->
                                <!-- /ko -->
                            </span>
                    </label>
                    <div class="payment-method-gender" style="margin: 0 0 20px;">
                        <select name="in3-gender" id="in3-gender" data-bind="
                        enable: true,
                        options: getGenders(),
                        optionsValue: 'code',
                        optionsText: 'label',
                        optionsCaption: $t('Choose your gender...'),
                        value: genderId">
                        </select>
                    </div>
                </div>

                <div class="field required">
                    <label class="label" for="in3-telephone">
                        <span>
                            <!-- ko i18n: 'Phone Number'-->
                            <!-- /ko -->
                        </span>
                    </label>
                    <div class="control">
                        <input name="in3-telephone"
                               id="in3-telephone"
                               title="Telephone"
                               data-bind="value: phoneNumber"
                               class="input-text"
                               type="tel"
                               required="true"/>
                    </div>
                </div>
            </fieldset>
        </div>
        <!--/ko-->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
