parameters:
    level: 2
    errorFormat: github
    ignoreErrors:
        -
            message: '#^PHPDoc tag @SuppressWarnings has invalid value#'
            reportUnmatched: false
    paths:
        - .
    excludePaths:
        - etc
        - i18n
        - Test
        - view
        - Plugin/CustomerBalance
