<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <plugin name="add_multisafepay_config_providers_on_checkout" type="MultiSafepay\ConnectFrontend\Plugin\Checkout\Model\CompositeConfigProvider"/>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="add_multisafepay_generic_on_checkout" type="MultiSafepay\ConnectFrontend\Plugin\Checkout\Block\Checkout\LayoutProcessorPlugin"/>
    </type>

    <type name="Magento\Vault\Controller\Cards\DeleteAction">
        <plugin name="delete_multisafepay_token" type="MultiSafepay\ConnectFrontend\Plugin\Customer\Controller\Cards\DeleteActionPlugin"/>
    </type>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="multisafepay_creditcard_recurring" xsi:type="object">MultiSafepay\ConnectCore\Model\Ui\CreditCardTokenUiComponentProvider</item>
                <item name="multisafepay_visa_recurring" xsi:type="object">MultiSafepay\ConnectCore\Model\Ui\VisaTokenUiComponentProvider</item>
                <item name="multisafepay_mastercard_recurring" xsi:type="object">MultiSafepay\ConnectCore\Model\Ui\MastercardTokenUiComponentProvider</item>
                <item name="multisafepay_amex_recurring" xsi:type="object">MultiSafepay\ConnectCore\Model\Ui\AmexTokenUiComponentProvider</item>
                <item name="multisafepay_ideal_recurring" xsi:type="object">MultiSafepay\ConnectCore\Model\Ui\IdealTokenUiComponentProvider</item>
                <item name="multisafepay_directdebit_recurring" xsi:type="object">MultiSafepay\ConnectCore\Model\Ui\DirectDebitTokenUiComponentProvider</item>
                <item name="multisafepay_maestro_recurring" xsi:type="object">MultiSafepay\ConnectCore\Model\Ui\MaestroTokenUiComponentProvider</item>
                <item name="multisafepay_bancontact_recurring" xsi:type="object">MultiSafepay\ConnectCore\Model\Ui\BancontactTokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="MultiSafepay\ConnectFrontend\Observer\RestoreQuoteObserver">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\CustomerBalance\Observer\RevertStoreCreditObserver">
        <plugin name="multisafepay_customer_balance_revert_store_credit" type="MultiSafepay\ConnectFrontend\Plugin\CustomerBalance\Observer\RevertStoreCreditObserverPlugin" />
    </type>
</config>
